#container{
    width:960px;
    margin: 0 auto;
   background-color: greenyellow;
}

.main-title{
    font-size: 100px;
    text-align: center;

}
#mainArea{
    padding-bottom: 10px;
    text-align: center;
    
}

#start-btn{
   display:block;
   width:500px;
   margin:0 auto;
   padding-bottom: 50px;
   padding-top: 50px;
   
}

input{
    font-size: 100px;

}

#result{
    font-size: 50px;
}





/* #questionsID{
    font-size: 50px;
    color :blue;
    text-align: center;
    margin-bottom: 10px
   
}

.answerClass{
    margin-top: 20px;
    font-size: 50px;
    color :white;
    text-align: center;
} */